$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  "Courier New", monospace;

$masthead-color: #505050;
$masthead-small-color: #C0C0C0;

$post-title-color: #303030;
$post-date-color: #9a9a9a;

$body-color: #515151;
$body-background-color: #fff;

$link-color: #268bd2;

$headings-color: #313131;

$strong-color: #303030;

$pre-background-color:  #f9f9f9;

$blockquote-color: #7a7a7a;
$blockquote-border-color: #e5e5e5;

$table-border-color: #e5e5e5;
$table-odd-background-color: #f9f9f9;